.register-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .my-label {
    font-family: nb-theme(font-family-primary);
    color: nb-theme(text-basic-color);
  }
  
  .form-control-group{
      padding-bottom: 20px;
      padding-left: 30%;
      padding-right: 30%;
  }

<<<<<<< HEAD
  
  .checkbox{
      margin: 2rem 0;
  }

  
=======
.button {
  margin-top: 2em;
}

.stepper-buttons {
  text-align: center;
}

.stepper-buttons button{
  margin-right: 1rem;
  margin-left: 1rem;
}

.locationLabel {
  text-align: left;
}


.sub-title{
  text-align: center;
}

.safteyMeasureList p {
  text-align: center;
}
>>>>>>> 7ffa663 (map visualization 1)
