// Server - CovidBit - Fast Pandas
// Created:  20, February, 2021, John T

.icon-container{
    text-align: center;
}

.icon-body{
    font-size: 5rem;
}

.safetyMeasures{
    min-width: 10rem;
    max-width: 20rem;
    margin: 0 auto 2rem;
}

.label-text{
    font-size: 18px;
}
.case-numbers{
    text-align: center;
}

