<!-- Row One -->
<div class="row">
    <div class="col-8">
  
      <!-- Business Info Card -->
      <nb-card>
        <nb-card-header>
          <h2>{{businessName}}</h2>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Phone Number</label>
              <ng-container>
                <!-- Business Phone Number -->
                <p class="subtitle text-hint">{{businessPhoneNumber}}</p>
              </ng-container>
            </div>
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Address</label>
              <ng-container>
                <!-- Business' Address -->
                <p class="subtitle text-hint">{{businessAddress}}</p>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Website</label>
              <ng-container>
                <p class="subtitle text-hint">
                  <a style="text-decoration: none;" href="/registration-form">{{businessWebsite}}</a>
                </p>
              </ng-container>
            </div>
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Business Type</label>
              <ng-container>
                <p class="subtitle text-hint">{{businessType}}</p>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
  
    </div>
  
    <!-- safety Measures List Card -->
    <div class="col-4">
      <nb-card>
        <nb-card-header>safety Measures</nb-card-header>
        <nb-accordion *ngIf="safetyMeasureList.length > 0">
          <nb-accordion-item *ngFor="let measure of safetyMeasureList">
           <nb-accordion-item-header>{{measure.title}}</nb-accordion-item-header>
           <nb-accordion-item-body>{{measure.description}}</nb-accordion-item-body>
          </nb-accordion-item>
         </nb-accordion>
      </nb-card>
  
    </div>
  </div>
  
  <!-- Row Three -->
  <div class="row">
    <div class="col-8">
      <nb-card>
        <nb-card-header>COVID Case Log</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <ng-container>
                <h4 class="case-numbers">Total Cases</h4>
                <h4 class="case-numbers">{{totalCases}}</h4>
              </ng-container>
            </div>
            <div class="col-6">
              <ng-container>
                <h4 class="case-numbers">Cases in the last 30 days</h4>
                <h4 class="case-numbers">{{totalCases30Days}}</h4>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-4">
      <nb-card>
        <nb-card-header>Tracking Methods</nb-card-header>
        <nb-card-body class="icon-container">
          <div class="row" *ngIf="trackingMethod == true">
            <div class="col-6">
              <nb-icon class="icon-body" icon="checkmark-circle-outline" status="success"></nb-icon>
              <ng-container>
                <p class="subtitle status-Link">Text</p>
              </ng-container>
            </div>
            <div class="col-6">
              <nb-icon class="icon-body" icon="checkmark-circle-outline"></nb-icon>
              <ng-container>
                <p class="subtitle status-Link">Email</p>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>