<!-- Server - CovidBit - Fast Pandas
     Created:  20, February, 2021, John Turkson-->
<div class="container">
  <!-- Row One -->
  <div class="row">
    <div class="col-8">

      <!-- Business Info Card -->
      <nb-card size="small">
        <nb-card-header>
          <h2>{{businessName}}</h2>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Phone Number</label>
              <ng-container>
                <!-- Business Phone Number -->
                <p style='color:#987CC3' class="subtitle text-hint">{{businessPhoneNumber}}</p>
              </ng-container>
            </div>
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Address</label>
              <ng-container>
                <!-- Business' Address -->
                <p style='color:#987CC3' class="subtitle text-hint">{{businessAddress}}</p>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Website</label>
              <ng-container>
                <p class="subtitle text-hint">
                  <a style="text-decoration: none;" href="/registration-form">{{businessWebsite}}</a>
                </p>
              </ng-container>
            </div>
            <div class="col-6">
              <label nbLabel class="h6" for="input-businessType">Business Type</label>
              <ng-container>
                <p style='color:#987CC3' class="subtitle text-hint">{{businessType}}</p>
              </ng-container>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <!-- safety Measures List Card -->
    <div class="col-4">
      <nb-card size="small">
        <nb-card-header>
          <h5>Safety Measures</h5>
        </nb-card-header>
        <nb-accordion *ngIf="safetyMeasureList.length > 0">
          <nb-accordion-item *ngFor="let measure of safetyMeasureList">
            <nb-accordion-item-header>{{measure.title}}</nb-accordion-item-header>
            <nb-accordion-item-body>{{measure.description}}</nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>
  </div>
</div>
<div class="container">

  <!-- Row Three -->
  <div class="row">
    <div class="col-9">
      <nb-card size="small">
        <nb-card-header>
          <h5>Reviews</h5>
          <a href routerLink="/review/{{id}}" routerLinkActive="active">Add a review</a>
        </nb-card-header>
        <nb-card-body class="icon-container">
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-3">
      <nb-card size="small">
        <nb-card-header>
          <h5>COVID Case Log</h5>
        </nb-card-header>
        <nb-card-body>
          <h6 style='color:#987CC3'> Cases: <span style='color:black'>{{totalCases | number}} </span></h6>
          <h6 style='color:#987CC3'> Last 30 days: <span style='color:black'>{{totalCases30Days| number}}</span>
          </h6>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>