<!-- <nb-card-body class="items-rows">
    <button nbButton outline status="info"><a routerLink="/home" routerLinkActive="active">Home</a></button>
    <button nbButton outline status="info"><a routerLink="/smallbusinessmap" routerLinkActive="active">Small Business Map</a></button>
    <button nbButton outline status="info"><a routerLink="/login-form" routerLinkActive="activebutton">Login</a></button>
</nb-card-body> -->
<nb-actions size="medium">
  <nb-action>
    <label class="subtitle">Home</label>
    <a routerLink="/home" routerLinkActive="active">
      <nb-action icon="home-outline"></nb-action>
    </a>
  </nb-action>

  <nb-action>
    <label class="subtitle">Small Business Map</label>
    <a routerLink="/registration-form" routerLinkActive="active">
      <nb-action icon="map-outline"></nb-action>
    </a>
  </nb-action>

  <nb-action>
    <label class="subtitle">Login</label>
    <a routerLink="/login-form" routerLinkActive="active">
      <nb-action icon="log-in-outline"></nb-action>
    </a>
  </nb-action>
</nb-actions>
