


<nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
<h2>COVIDBIT</h2>

<div class="navigation-buttons">

    <app-search-widget></app-search-widget>
    <button nbButton><a routerLink="/home" routerLinkActive="active">Home</a></button>
    <button nbButton><a routerLink="/tracker-map" routerLinkActive="active">Tracker Map</a></button>
    <button *ngIf="loggedIn" nbButton [nbContextMenu]="itemsTitle" nbContextMenuTag="my-context-menu">
        {{businessName}}
    </button>
    <button *ngIf="!loggedIn" nbButton><a routerLink="/login-form" routerLinkActive="active">Login</a></button>
</div>

<nb-sidebar class="menu-sidebar" state='collapsed'  class="right-sidebar" fixed end>
    <nb-menu [items]="items"></nb-menu>
</nb-sidebar>