<!-- 
<div class="column">
    <a routerLink="/about-us" routerLinkActive="active">About Us</a> <br>
    <a routerLink="/terms" routerLinkActive="active">Terms</a> <br>
    <a routerLink="/policy" routerLinkActive="active">Policy</a> <br>
    <a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html" target="_blank" >Canada COVID-19</a> <br>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" >World Health Organization (WHO)</a>
</div>
<div class="column">
    <p>© Fast Pandas, 2021
        
    </p>
</div> -->


  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-4">
            <!-- <h6>About</h6> -->
            <img src="assets/images/covidbit-logo.JPG" alt="logo" height="60px">
            <p class="text-justify">Creating a safer world together.</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Resources</h6>
            <ul class="footer-links">
              <li><a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html" target="_blank">Canada COVID-19</a></li>
              <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">World Health Organization (WHO)</a></li>
            </ul>
          </div>

        <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6> 
            <ul class="footer-links quick-links">
              <li><a routerLink="/login-form" routerLinkActive="active">Login</a></li>
              <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
              <li><a routerLink="/terms" routerLinkActive="active">Terms</a></li>
              <li><a routerLink="/policy" routerLinkActive="active">Policy</a></li>
            </ul>
          </div>

      </div>
    </div>

    <hr>

    <div class="container center">
        COVIDBIT © 2021. Created by <strong>The Fast Pandas</strong>. <br>
    </div>
</footer>