
  <footer class="main-footer">
    <div class="row">
        <div class="grid-container">
            <div class="grid-item" id="footer-column1">
                <img class="logo" src="assets/images/covidbit-square.png">

            </div>
            <div class="grid-item" id="footer-column2">
                <div class="explore">
                    <h6 class="footer-header">Explore</h6>
                    <ul>
                        <li><a href="">About Project</a><br></li>
                        <li><a href="">Our Team</a><br></li>
                        <li><a href="">Small Business map</a><br></li>
                    </ul>
                </div>
            </div>
            <div class="grid-item" id="footer-column3">
                <div class="contact-details">
                    <h6 class="footer-header">Contact</h6>
                    <p style="font-weight: bold">Seneca College</p>
                    <p>750 Finch Ave E, North York, ON M2J 5G31</p>
                    <p>email: fastpandasseneca@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <p class="disclaimer">&copy; 2021. All rights reserved.</p>
    </div>
  </footer>
