.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }
  .grid-item {
   // border: 1px solid black;
   // width: 45vh;
    text-align: left;
  }

  #footer-column1 { width: 300px;}
  #footer-column2 { width: 400px; }
  #footer-column3 { width: 400px; }

  .logo {
    height: 20vh;
    width: 20vh;

  }

  .footer-header {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  ul li { 
      margin-left: -40px; 
      margin-bottom: 5px; 
      list-style: none;
    }

  .disclaimer{
    text-align:left; 
  }

  p {
      margin-bottom: 5px;
      margin-top: 0;
  }