<h2 style='color:lightblue'> Cases</h2><br />
<nb-icon icon="plus-outline" style='font-size:26px;'> </nb-icon> New Cases Today: {{newCases| number}}
<br /><br />
<nb-icon icon="activity-outline" style='font-size:26px;'> </nb-icon> Active Cases: {{activeCases | number}} <br /><br />

<nb-icon icon="paper-plane-outline" style='font-size:26px;'> </nb-icon> Total Cases: {{  cumulativeCases| number}} <br /><br />
<h2 style='color:lightblue'> Deaths</h2><br />

<nb-icon icon="plus-outline" style='font-size:26px;'> </nb-icon> New Deaths Today: {{deaths | number}} <br /><br />
<nb-icon icon="paper-plane-outline" style='font-size:26px;'> </nb-icon> Total Deaths: {{  cumulativeDeaths| number}} <br /><br />