<!-- Server - CovidBit - Fast Pandas
     Created: 08, March, 2021, Teresa Costa-->

<nb-card>
    <nb-card-body>
        <h1 class="register-header">Reset Password</h1>

        <form [formGroup]="loginId" (ngSubmit)="onSubmit()" class="form-components">

            <!-- Email Input Field -->
            <div class="form-control-group">

                <nb-alert *ngIf="serverWarning" status="danger" closable (close)="onCloseServer()">
                    Email not registered.
                </nb-alert>
                <label class="label" for="input-email">Email:</label>

                <input nbInput id="input-name" type="email" formControlName="email" placeholder="Email" fullWidth
                    fieldSize="large"
                    [status]="loginId.controls.email.dirty ? (loginId.controls.email.invalid ? 'danger' : 'success') : 'basic' ">

                <ng-container>
                    <p class="caption status-danger"
                        *ngIf="loginId.controls.email.errors?.required && loginId.controls.email.touched">
                        Email is required!
                    </p>
                    <p class="caption status-danger" *ngIf="loginId.controls.email.errors?.email">
                        Invalid Email!
                    </p>
                </ng-container>

            </div>

            <div class="form-control-group">
                <button class="button" type="submit" nbButton fullWidth outline status="primary"
                    [disabled]="this.loginId.get('email')?.invalid || this.loginId.get('password')?.invalid">Send</button>
            </div>

        </form>
    </nb-card-body>
</nb-card>