// Server - CovidBit - Fast Pandas
// Created:  16, February, 2021, John Turkson

.editor{
    margin-bottom: 2rem;
}

.button{
    margin-top: 2rem;
    text-align: center;
}

.buttonSlot{
    text-align: center;
}

#casesInputBoxes{
    margin: 1.5rem;
}