<h4 style='color:lightblue'> {{currentDate}}</h4><br />
<nb-icon icon="activity-outline" style='font-size:26px;'> </nb-icon> Tests: {{totalTests | number}} <br /><br />
<nb-icon icon="plus-outline" style='font-size:26px;'> </nb-icon> Hospitalizations: {{totalHospitalizations | number}}
<br /><br />
<nb-icon icon="heart-outline" style='font-size:26px;'> </nb-icon> Recoveries: {{totalRecoveries | number}} <br /><br />
<nb-icon icon="paper-plane-outline" style='font-size:26px;'> </nb-icon> Vaccinations: {{totalVaccinations | number}} <br /><br />