<nb-card>
  <nb-card-body>
    <h1 class="register-header">Login</h1>

    <form [formGroup]="loginCredentials" class="form-components">

      <!-- Email Input Field -->
      <div class="form-control-group">
        <label class="label" for="input-email">Email:</label>

        <input nbInput id="input-name" type="text" formControlName="email" placeholder="Email" fullWidth
          fieldSize="large"
          [status]="loginCredentials.controls.email.dirty ? (loginCredentials.controls.email.invalid ? 'danger' : 'success') : 'basic' ">

        <ng-container>
          <p class="caption status-danger"
            *ngIf="loginCredentials.controls.email.errors?.required && loginCredentials.controls.email.touched">
            Email is required!
          </p>
          <p class="caption status-danger" *ngIf="loginCredentials.controls.email.errors?.email">
            Invalid Email!
          </p>
        </ng-container>

      </div>

      <!-- Password Input Field -->
      <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>

        <input nbInput id="input-password" type="password" formControlName='password' placeholder="Password" fullWidth
          fieldSize="large"
          [status]="loginCredentials.controls.password.dirty ? (loginCredentials.controls.password.invalid ? 'danger' : 'success') : 'basic' ">

        <ng-container>
          <p class="caption status-danger"
            *ngIf="loginCredentials.controls.password.errors?.required && loginCredentials.controls.password.touched">
            Password is required!
          </p>
        </ng-container>

      </div>

    </form>

    <div class="form-control-group">
      <section style="text-align: center;" class="another-action">Don't have an account? <a
          routerlink="/registration-form" class="text-link" href="/registration-form">Register</a></section>
    </div>


  </nb-card-body>
</nb-card>
