.register-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .my-label {
    font-family: nb-theme(font-family-primary);
    color: nb-theme(text-basic-color);
  }
  
  .form-control-group{
      padding-bottom: 20px;
      padding-left: 30%;
      padding-right: 30%;
  }
  
  .form-control-group button{
      margin-top: 20px;
      margin-bottom: 10px;
  }
  
  .checkbox{
      margin: 2rem 0;
  }
