.businessProfile-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-control-group{
  padding-bottom: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.button {
  margin: 2em;
  width: 200px;
}

.buttons{
  text-align: center;
}

:host {
  display: block;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
  
.card-row {
  display: flex;
  margin: 0 -0.5rem;
}
  
.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

@media only screen and (max-width: 1300px) {
  .form-control-group{
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media only screen and (max-width: 900px) {
  .button {
    display: inline-block;
    margin: 0.5em;
    width: 200px;
  }

  .form-control-group{
    padding-left: 10%;
    padding-right: 10%;
  }
}

  




