<!-- Map Management Card -->
<nb-card>
    <nb-card-header>Map Management Settings</nb-card-header>
    <nb-card-body>

      <!-- Map Managment Tabset -->
      <nb-tabset>
        <nb-tab tabTitle="Add Map Marker">
          <input nbInput placeholder="Search for Business">
          <button nbSuffix nbButton ghost>
            <nb-icon style="margin-left: 0.75em;" icon="search-outline"></nb-icon>
          </button>
        </nb-tab>
        <nb-tab tabTitle="Remove Map Marker">
          <input nbInput placeholder="Search for Business">
          <button nbSuffix nbButton ghost>
            <nb-icon style="margin-left: 0.75em;" icon="search-outline"></nb-icon>
          </button>
        </nb-tab>
      </nb-tabset>

    </nb-card-body>
  </nb-card>