<!-- Server - CovidBit - Fast Pandas
     Created: 08, March, 2021, Teresa Costa-->

<nb-card>
    <nb-card-body>
        <h1 class="register-header">Reset Password</h1>

        <form [formGroup]="newPassword" (ngSubmit)="onSubmit()" class="form-components">

            <!-- Password Input Field -->
          <div class="form-control-group">
            <label class="label" for="input-password">Password:</label>

            <input nbInput id="input-password" type="password" name="password" formControlName='password'
              placeholder="Password" fullWidth fieldSize="large"
              [status]="newPassword.get('password')?.dirty ? (newPassword.get('password')?.invalid ? 'danger' : 'success') : 'basic' ">

            <ng-container>
              <p class="caption status-danger"
                *ngIf="newPassword.hasError('required', 'password') && newPassword.get('password')?.touched">
                Password is required!
              </p>
              <p class="caption status-danger" *ngIf="newPassword.hasError('minlength', 'password')">
                Password must be at least 8 characters
              </p>
            </ng-container>

          </div>

          <!-- Confirm Password Input Field -->
          <div class="form-control-group">
            <label class="label" for="input-confirmPassword">Confirm Password:</label>

            <input nbInput id="input-confirmPassword" name="confirmPassword" type="password"
              formControlName='confirmPassword' placeholder="Confirm Password" fullWidth fieldSize="large"
              [status]="newPassword.get('confirmPassword')?.dirty ? 
          (newPassword.get('confirmPassword')?.invalid || newPassword.get('password')?.value !=  newPassword.get('confirmPassword')?.value ? 'danger' : 'success') : 'basic' ">

            <ng-container>
              <p class="caption status-danger"
                *ngIf="newPassword.hasError('required', 'confirmPassword') && newPassword.get('confirmPassword')?.touched">
                Password Confirmation Required!
              </p>
              <p class="caption status-danger"
                *ngIf="newPassword.get('password')?.value != newPassword.get('confirmPassword')?.value && !newPassword.hasError('required', 'accounrDetails.confirmPassword')">
                Password don't match
              </p>
            </ng-container>

          </div>

            <div class="form-control-group">
                <button class="button" type="submit" nbButton fullWidth outline status="primary"
                    [disabled]="this.newPassword.get('password')?.invalid || this.newPassword.get('password')?.invalid">Send</button>
            </div>

        </form>
    </nb-card-body>
</nb-card>