<!-- Server - CovidBit - Fast Pandas
     Created: 15, MArch, 2021, Teresa Costa
    Modified: 01, April, 2021, Adilah -->

<nb-card>
    <nb-card-header>
        <h1>Who we are</h1>
    </nb-card-header>
    <nb-card-body>

        <div class="about-container">
            <img src="https://image.freepik.com/free-vector/baby-panda-waving-paw-cartoon_42750-612.jpg" alt="panda"
                width="550">

            <div class="about-text">
                <h1>Hello</h1>
                <p class="about-us">About Us.</p>
                <p> We are "<span class="text-colour">The Fast Pandas</span>," a group of five aspiring software
                    developers from Seneca College.</p>
                <p class="name">
                    Teresa Costa <br>
                    John Turkson <br>
                    Valentina Derksen <br>
                    Adilah Ismail <br>
                    Yevgeniya Anasheva <br>
                </p>
                <p>
                    We have spent the last few months creating the COVIDBIT, that we hope will relieve some of the
                    pressure put on businesses during this time.
                    This platform will provide small businesses with the opportunity to advertise their businesses’
                    safety measures, track cases and be certified as a safe business.
                    It will also allow general users to make well-informed decisions.<br><br>
                </p>

                <button nbButton class="center">
                    <nb-icon icon="email-outline"></nb-icon>Contact Us: fastpandasseneca@gmail.com
                </button>
            </div>
        </div>

    </nb-card-body>

</nb-card>