.about-container {
    display: flex;
    flex-direction: row;
}

.about-text {
    margin:20px;
    padding: 50px 50px 20px 110px;
    font-family: 'Open Sans', sans-serif;
}

.about-us {
    font-size: 1.2em;
    font-weight: 600;
}

.name {
    font-size: 0.95em;
    line-height: 125%;
    font-style: italic;
}


.text-colour {
    color: #aa67cf;
    font-weight: 600;
}

.center {
    text-align: center;
  }