<nb-card size="medium">
  <nb-card-header style="text-align: center;">
    <button nbButton [nbContextMenu]="items" nbContextMenuTag="caseOptions">{{title}}</button>
  </nb-card-header>
  <nb-card-body>

    <div class="editor">
        <input nbInput placeholder="Search for Business">
        <button nbSuffix nbButton ghost (click)="searchForBusiness()">
          <nb-icon style="margin-left: 0.75em;" icon="search-outline"></nb-icon>
        </button>
        
    </div>

     <nb-list *ngIf="searchCheck === true">
        <nb-list-item *ngFor="let fruit of typesList">
            <nb-checkbox>{{ fruit.name }}</nb-checkbox>
        </nb-list-item>
      </nb-list>

  </nb-card-body>
  <nb-card-footer style="text-align: center;">
      <button nbButton status="success">{{buttonText}}</button>
    </nb-card-footer>
</nb-card>
