<!-- home -->
<div class="about-container">
  <div class="main-layout">
    <div class="center-layout" style="height: 900px">
      <h1>COVIDBIT</h1>
      <h4>Official COVID tracker for small businesses in the GTA.</h4>
    </div>
  </div>
</div>

<!-- about -->
<div class="about-container">
  <div class="about-img"></div>
  <div class="about-text">
    <p>ABOUT US</p>
    <h2>We're <br>supporting <br>small <br>businesses <br>across the GTA.</h2>
    <hr>
    <p>The coronavirus (COVID-19) pandemic has changed Canadian lives forever,
      from how we live to how we work, and how we interact with others. In
      particular, it has negatively impacted small businesses. Our goal is
      to help small businesses in the GTA maneuver this new world and allow
      users to make well-informed decisions.
    </p>
  </div>
</div>

<!-- users -->
<div class="card-row">
  <div class="card-col" class="container">

    <nb-card size="tiny" class="heading">
      <div class="nb-card-header" class="header-text">what users can expect
        <hr>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="arrow-circle-up-outline"></nb-icon>
        </div>
        <div class="nb-card-body">High Risk Zones</div>
        <div class="nb-card-text">Be the first to find out about reported cases that occur in your area and potential
          high risk zones</div>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="star"></nb-icon>
        </div>
        <div class="nb-card-body">safety Measures</div>
        <div class="nb-card-text">Have direct access to the methods businesses are using to keep you safe!</div>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="edit-2-outline"></nb-icon>
        </div>
        <div class="nb-card-body">Reported Cases</div>
        <div class="nb-card-text">Allow users to see if businesses have had reported cases within a given time frame
        </div>
      </div>
    </nb-card>

  </div>
</div>

<!-- businesses -->
<div class="card-row">
  <div class="card-col" class="container">

    <nb-card size="tiny" class="heading">
      <div class="nb-card-header" class="header-text">what small businesses can expect
        <hr>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="clock-outline"></nb-icon>
        </div>
        <div class="nb-card-body">Schedule Appointments</div>
        <div class="nb-card-text">Allow customers to schedule appointments to limit the number of people in enclosed
          space</div>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="people-outline"></nb-icon>
        </div>
        <div class="nb-card-body">Contact Tracing Method</div>
        <div class="nb-card-text">Digital form businesses can use to allow customers to enter their information to be
          notified of a potential case</div>
      </div>
    </nb-card>

    <nb-card size="large" class="info">
      <div class="nb-card-content" class="info-text">
        <div class="nb-card-header">
          <nb-icon icon="shield-outline"></nb-icon>
        </div>
        <div class="nb-card-body">Certifications</div>
        <div class="nb-card-text">Can provide certifications based on the safety measures the business implements to
          protect current and potential customers</div>
      </div>
    </nb-card>

  </div>
</div>