// main
.nb-theme-default nb-layout .layout {
    min-height: 50vh !important;
 }

.main-layout {
    background-image: url('https://images.unsplash.com/photo-1526417501781-5e7e587b7686?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.main-layout h1 {
    font-weight: 900;
    font-size: 5em;glyph-orientation-vertical: auto;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.main-layout h4 {
    font-size: 2em;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.45);
}

.main-layout h1, h4 {
    color: white;
}

.center-layout {
    margin: 90px 40px;
    width: 50%;
    padding: 20px;
  }


// about 
.about-container {
    display: flex;
    flex-direction: row;
}

.about-img {
    background-image: url('https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;

}
.about-text {
    margin:20px;
    padding: 50px 50px 20px 110px;
}

.about-container div {
    flex: 1;
}

.about-container h2, p {
    text-align: right;
}

.about-container h2 {
    font-size: 2.6em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 130%;
}

.about-container p {
    font-size: 1.8em;
    line-height: 150%;
} 

.about-container hr {
    border-top: 10px solid lightgrey;
}

// cards
.container {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content:  center;
    align-items: center;
    align-content: space-between;
    background: #edf1f7;
}

.heading  {
    flex: 1 100% !important;
    flex-direction: row;
}

.header-text {
    font-size: 2.8em;
    font-weight: bold;
    padding-top: 4.5%;
    text-transform: uppercase;
    line-height: 120%;
    text-align: center;
}

.header-text hr {
    border-top: 10px solid lightgrey;
}

.info  {
    flex: 1;
    flex-direction: row;
}

nb-card {
    justify-content: center;
    background: #edf1f7;
    flex-direction: row;
    flex-wrap:  wrap;
}

nb-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

nb-icon {
    font-size: 10rem;
}

.nb-card-header {
    height: 50%;
    padding-top: 50px;
}

.nb-card-body{
    height: 5%;
}

.nb-card-text {
    height: 45%;
    font-size: 1.4em;
    padding: 10px 100px;
    line-height: 150%;
}

.nb-card-header, .nb-card-body, .nb-card-text  {
    flex: 1; 
    text-align: center;
}

.nb-card-body {
    font-size: 1.5em;
    font-weight: bold;
}

