:host {
    display: block;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline .form-control-group{
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }


  
  // button Delete Measure
  #deleteMeasure{
    margin-top: 1em;
  }

  @media only screen and (max-width: 900px) {
    .card-row {
        display: flex;
        flex-direction: column;
      }
      
  }
