



   <h4 style='color:lightblue'> COVID-19 - Ontario - {{currentDate}}</h4><br/>
   <nb-icon icon="activity-outline"style='font-size:26px;'> </nb-icon> Tests: {{totalTests}}  <br/><br/>
   <nb-icon icon="plus-outline"style='font-size:26px;'> </nb-icon> Hospitalizations: {{totalHospitalizations}} <br/><br/>
    <nb-icon icon="heart-outline"style='font-size:26px;'> </nb-icon> Recoveries: {{totalRecoveries}}  <br/><br/>
    <nb-icon icon="paper-plane-outline"style='font-size:26px;'> </nb-icon> Vaccinations: {{totalVaccinations}} <br/><br/>
  




