<!-- first container -->

<div class="container">

  <div class="map-column">

    <!-- search -->
    <div class="search-form">
      <input type="text" class="search-overlay" (keydown.enter)="$event.preventDefault()"
        placeholder="Enter name of business" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
        [(ngModel)]="businessName" (input)="Search()">
    </div>

    <!-- google map -->
    <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>
              <nb-card class="info-window"  status="info">
                <nb-card-header>Restaurant</nb-card-header>
                <nb-card-body>
                  <p>Most Recent Case: 2020-11-01</p>
                  <p>Total # of cases: 2</p>
                  <p># of employees: 1-10 </p>
                </nb-card-body>
              </nb-card>
              </agm-info-window>
          </agm-marker>
        </agm-map> -->

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <nb-card class="info-window" status="info" *ngFor="let sb of searchSB">
            <nb-card-header>{{sb.category}}</nb-card-header>
            <nb-card-body>
              <!-- <p>Most Recent Case: 2020-11-01</p> -->
              <p>Total # of cases: {{sb.cases}}</p>
              <p># of employees: {{sb.employees}} </p>
            </nb-card-body>
          </nb-card>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <!-- google map -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <nb-card class="info-window" status="info">
          <nb-card-header>Restaurant</nb-card-header>
          <nb-card-body>
            <p>Most Recent Case: 2020-11-01</p>
            <p>Total # of cases: 2</p>
            <p># of employees: 1-10 </p>
          </nb-card-body>
        </nb-card>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="info-column">

    <app-news></app-news>

  </div>

<div class="container">
  <div class="calendar-container">
    <nb-calendar [(date)]="date"></nb-calendar>
  </div>
</div>



<div class="container">
<nb-card>
  <nb-card-header>COVID-19 Information for Ontario as of {{currentDate}}</nb-card-header>
  <nb-card-body>

    <app-bar-horizontal></app-bar-horizontal>
    
  </nb-card-body>
</nb-card>
</div>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbNARRSTlFSaDp6GyBBM_pkEttwvj18d0&libraries=places&callback=initMap"
  async defer></script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbNARRSTlFSaDp6GyBBM_pkEttwvj18d0&libraries=places&callback=initMap"
  async defer></script> -->