<div class="container">


  <div class="row">

    <div class="col-sm" style="text-align: center;">

      <form [formGroup]="businessSearch" (ngSubmit)="onSubmit()">
        <nb-form-field>
          <input type="text" formControlName="businessName" name="businessName" id="input-business-name"
            placeholder="Search for Business" fullWidth fieldSize="giant" shape="semi-round" nbInput>

          <button type="submit" nbSuffix nbButton ghost>
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </nb-form-field>

      </form>


    </div>

  </div>

  <br>

  <div class="row">

    <!-- news -->
    <div class="col-md-3">
      <app-news></app-news>
    </div>

    <div class="col-sm-12 col-md-9">

      <!-- google map -->
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

        <agm-marker *ngFor="let marker of markers let i = index;" [animation]="marker.animation"
          (mouseOver)="markerOver(marker)" (mouseOut)="markerOut(marker)" [latitude]="marker.lat"
          [longitude]="marker.lng">
          <agm-info-window>
            <nb-card class="info-window" status="info">
              <nb-card-header class="card-colour" id="center">
                <a target="blank" id="businessLink" style="text-decoration: none;"
                  [routerLink]="['/business-user-view' , marker.id]" routerLinkActive="active">{{marker.name}}</a>
                <br>
                <sub>
                  {{marker.location}}
                </sub>
              </nb-card-header>
              <nb-card-body>
                <p>Total Cases: {{marker.cases}}</p>
              </nb-card-body>
            </nb-card>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
<br>




<!-- Ontario Tab -->
<div class="container source">
  <button nbButton class="card-colour">
    <nb-icon icon="external-link-outline"></nb-icon>
    <a href="https://opencovid.ca/">Source</a>
  </button>
  <br><br>

  <nb-card>

    <nb-card-header class="card-colour" id="center">
      Covid Statistics
    </nb-card-header>


    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Ontario">
          <div class="container">
            <nb-card [style]="{width:'28%', float:'right'}">

              <nb-card-body>
                <app-stats></app-stats>
              </nb-card-body>

            </nb-card>

            <nb-card [style]="{width:'68%', float:'left'}">

              <nb-card-body>
                <app-line-graph></app-line-graph>
              </nb-card-body>

            </nb-card>
          </div>
        </nb-tab>

        <!-- Canada Tab -->
        <nb-tab tabTitle="Canada">
          <div class="container">
            <nb-card [style]="{width:'28%', float:'right'}">

              <nb-card-body>
                <app-stats-canada></app-stats-canada>
              </nb-card-body>

            </nb-card>

            <nb-card [style]="{width:'68%', float:'left'}">

              <nb-card-body>
                <app-line-graph-canada></app-line-graph-canada>
              </nb-card-body>

            </nb-card>
          </div>
        </nb-tab>

        <!-- GTA Cases-->
        <nb-tab tabTitle="GTA: Cases">
          <div class="container">
            <nb-card [style]="{width:'48%', float:'right'}">

              <nb-card-body>
                <app-bar-health-region-cases></app-bar-health-region-cases>
              </nb-card-body>

            </nb-card>

            <nb-card [style]="{width:'48%', float:'left'}">

              <nb-card-body>
                <app-health-region-cases></app-health-region-cases>
              </nb-card-body>

            </nb-card>
          </div>
        </nb-tab>

        <!-- GTA Fatalities-->
        <nb-tab tabTitle="GTA: Fatalities">
          <div class="container">
            <nb-card [style]="{width:'48%', float:'right'}">

              <nb-card-body>
                <app-bar-health-region-mortality></app-bar-health-region-mortality>
              </nb-card-body>

            </nb-card>

            <nb-card [style]="{width:'48%', float:'left'}">

              <nb-card-body>
                <app-health-region-mortality></app-health-region-mortality>
              </nb-card-body>

            </nb-card>
          </div>
        </nb-tab>



        <!-- GTA Fatalities-->
        <nb-tab tabTitle="Ontario x Canada">
          <div class="container">
            <nb-card [style]="{width:'48%', float:'right'}">

              <nb-card-body>
                <app-bar-ontario-canada></app-bar-ontario-canada>
              </nb-card-body>

            </nb-card>
            <nb-card [style]="{width:'48%', float:'left'}">

              <nb-card-body>
                <app-bar-ontario-canada-vaccines></app-bar-ontario-canada-vaccines>
              </nb-card-body>

            </nb-card>

          </div>
        </nb-tab>


      </nb-tabset>
    </nb-card-body>
  </nb-card>

</div>


<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>