<nb-layout>

  <nb-layout-header fixed>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <h2>Nebular Starter Application</h2>
    <span class="example-spacer"></span>
    <span>
      <a class="button" routerLink="/registration-form" routerLinkActive="activebutton">Registration</a>
    </span>
    <span>
      <a class="button" routerLink="/login-form" routerLinkActive="activebutton">Login</a>
    </span>
  </nb-layout-header>


  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    This is the footer
  </nb-layout-footer>

</nb-layout>