.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  span a{
    text-decoration: none;
    color: black;
    padding-right: 1em;
}
@media only screen and (max-width: 600px) {
  h2 {
      display: none;
  }
}