.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline .form-control-group{
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
  }