<form *ngIf="caseForm" [formGroup]="caseForm" (submit)="onSubmit()" >
    <div formArrayName="cases" *ngFor="let caseFormGroup of getControls(); let idx = index;">
        <div [formGroupName]="idx" class="form-inline">
    
            <!-- Date picker -->        
            <div class="form-control-group">
                <input nbInput id="dateReported" name="dateReported" fieldSize="medium" formControlName='dateReported' required readonly>
            </div>
    
            <!-- Case Status Dropdown Menu -->
            <div class="form-control-group">
                <nb-select formControlName='status' name="status" required filled status="primary">
                <nb-option *ngFor="let type of statusType" [value]='type.name'>{{type.name}}</nb-option>
                </nb-select>
            </div>
    
            <!-- Acquisition Type Dropdown Menu -->
            <div class="form-control-group">
                <nb-select formControlName='acquisition' name="acquisition" required>
                <nb-option *ngFor="let type of acquisitionType" [value]='type.name' disabled>{{type.name}}</nb-option>
                </nb-select>
            </div>
    
            <!-- Gender Dropdown Menu -->
            <div class="form-control-group">
                <nb-select formControlName='gender' required name="gender" required >
                <nb-option *ngFor="let type of genderType" [value]='type.name' disabled>{{type.name}}</nb-option>
                </nb-select>
            </div>
    
            <!--Age input field-->
            <div class="form-control-group">
                <input nbInput type="number" id="age" name="age" formControlName='age'  fieldSize="medium" required min="1" max="110" readonly>
            </div>

            <div class="form-control-group">
                <button (click)="editCase(idx)" nbButton size="medium" outline status="primary">Update Case</button>
            </div>
        </div>
    </div>
</form>


