<div class="container">
    <table [nbTreeGrid]="data" equalColumnsWidth>
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container nbTreeGridColumnDef="dateReported">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Date reported</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.dateReported}}</td>
      </ng-container>

      <ng-container nbTreeGridColumnDef="status">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Status</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.status}}</td>
      </ng-container>

      <ng-container nbTreeGridColumnDef="acquisition">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Acquisition</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.acquisition}}</td>
      </ng-container>

      <ng-container nbTreeGridColumnDef="gender">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Gender</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.gender}}</td>
      </ng-container>

      <ng-container nbTreeGridColumnDef="age">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Age (years)</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.age}}</td>
      </ng-container>
    </table>
</div>
