<nb-card>
  <nb-card-body>
    <form [formGroup]='userCredentials' (ngSubmit)='onSubmit()' class="form-components">
      <nb-stepper orientation="horizontal">
        <nb-step label="Guidelines" formGroupName="guidelines">

          <h1 class="register-header">Apply for Certification</h1>
          <p class="form-control-group">COVIDBIT Team is not responsible for the information you enter. This certification is <strong>NOT</strong>
            official health standards certification 
            and the safety measures you enter are your own responsibility. 
            The safety measures entered by businesses are to help people safely use the offered services, and should not
            be treated as false advertisement. 
            COVID-19 is a serious topic and any misdirection or misinformation will be taken down, followed by necessary measures. <br>
            By accepting this agreement you indicate that you take all the responsibility upon yourself. <br>
            <strong>To receive certification, you need to have at least 3 safety measures. </strong>
          </p>
          <p class="form-control-group"><strong>For more information, please visit: </strong>
            <a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html" target="_blank" >Canadian Government COVID-19 website</a>
            and 
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" >the World Health Organization (WHO)</a>
          </p>
          <div class="form-control-group">
            <input type="checkbox" [(ngModel)]="acceptedGuidelines"> &nbsp;&nbsp; I've read the guidelines and accept the agreement
          </div>
          
          <div class="form-control-group">
            <button class="button" type="button" nbButton nbStepperNext fullWidth outline status="primary" >NEXT</button>
          </div>

        </nb-step>
        <nb-step label="Certification" formGroupName="safetyMeasures">
          <div class="form-control-group">
            <p>
              <strong>Business Name: </strong> {{businessName}} <br>
              <strong>First Name: </strong> {{firstName}} <br>
              <strong>Last Name: </strong> {{lastName}} <br>
              <strong>Location: </strong> {{businessLocation}} <br>
              <strong>Business Type: </strong> {{businessType}} <br>
              <strong>Safety Measures: </strong> <br>
            </p>
          </div>

          <div class="form-control-group">
            <button class="button" type="button" nbButton nbStepperPrevious fullWidth outline status="primary">PREVIOUS</button>
            <button class="button" type="submit" nbButton fullWidth outline status="primary">SUBMIT</button>
          </div>
          
          
        </nb-step>

      </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>