// Server - CovidBit - Fast Pandas
// Created: 25, March, 2021, Valya Derksen
  
  .review-header  {
    text-align: center;
  }
  
  .form-control-group{
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
  }
  
  .button {
    text-align: center;
  }

  nb-toggle {
    //width: 500px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  