<!--  Server - CovidBit - Fast Pandas
      Created: 25, March, 2021, Valya Derksen-->

<nb-card>
    <nb-card-header>
        <h3 class="review-header">Leave Your Review on {{businessName}}</h3>
        <p class="review-header">located at {{businessLocation}}</p>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]='reviewForm' (ngSubmit)="onSubmit()" class="form-components">

            <!-- User name Input Field -->
            <div class="form-control-group">
                <label nbLabel class="label" for="input-userName">Your name:</label>
                <input nbInput type="text" placeholder="Your name" fullWidth fieldSize="large"
                formControlName="username"  required>

                <ng-container>
                    <p class="caption status-danger"
                        *ngIf="reviewForm.hasError('required', 'username') && reviewForm.get('username')?.touched">
                        Please, leave your name
                    </p>
                </ng-container>
            </div>

            <!-- Date picker -->        
            <div class="form-control-group">
                <label nbLabel class="label" for="input-visitDate">When did you visit {{businessName}}?</label>
                <input nbInput id="visitDate" placeholder="Choose a date" name="visitDate" fullWidth fieldSize="large" 
                [nbDatepicker]="formcontrol" [formControl]="dateControl" formControlName='visitDate' required>
                <nb-datepicker #formcontrol></nb-datepicker>

                <ng-container>
                    <p class="caption status-danger"
                        *ngIf="reviewForm.hasError('required', 'visitDate') && reviewForm.get('visitDate')?.touched">
                        Please, choose a date of your last visit
                    </p>
                </ng-container>
            </div>

            <!-- Safety Measures Field -->
            <div class="form-control-group" >
                <label nbLabel class="label" for="input-safetyMeasuresList">Do you confirm that {{businessName}} uses following Safety Measures?</label>
                <nb-toggle [formControl]="toggleFormControl" *ngFor="let measure of safetyMeasuresList; index as i"
                [checked]=checked (change)="toggle($event)" (change)="countConfirm(i)">{{measure.title}} ({{measure.description}})</nb-toggle>
            </div>

            <!-- Comment Input Field -->
            <div class="form-control-group">
                <label nbLabel class="label" for="input-comment">Leave your comment:</label>
                <textarea nbInput fullWidth placeholder="Your comment"
                formControlName="comment" required
                [status]="reviewForm.get('comment')?.dirty ? (reviewForm.get('comment')?.invalid ? 'danger' : 'success') : 'basic' ">
                <textarea nbInput fullWidth placeholder="Your comment"></textarea>

                <ng-container>
                    <p class="caption status-danger"
                        *ngIf="reviewForm.hasError('required', 'comment') && reviewForm.get('comment')?.touched">
                        Please, leave a comment
                    </p>
                </ng-container>
            </div>

            <div class="button">
                <button type="submit" nbButton outline status="success"
                [disabled]="this.reviewForm.get('username')?.invalid || this.reviewForm.get('visitDate')?.invalid || this.reviewForm.get('comment')?.invalid">
                Send Review</button>
            </div>
        </form>

    </nb-card-body>
</nb-card>
