// Server - CovidBit - Fast Pandas
// Created:  16, February, 2021, John Turkson

h1 {
    text-align: center;
    color: white;
}

.within-card{
    text-align: center;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}
  
.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}