<h1 class="page-header">Admin Dashboard</h1>

<!-- Row One -->
<div class="row">
  <div class="col-6">
    <nb-card status="primary">
      <nb-card-header>COVID Case Management & Settings</nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-6 within-card">
                <h5>Add a Case</h5>
                <button id="add" nbButton (click)="toggle($event)">ADD CASE</button>
            </div>
            <div class="col-6 within-card">
                <h5>Remove a Case</h5>
                <button nbButton id="remove" (click)="toggle($event)">REMOVE CASE</button>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card status="primary">
      <nb-card-header>Business Map Settings</nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-6 within-card">
                <h5>Add Map Marker</h5>
                <button nbButton >ADD MARKER</button>
            </div>
            <div class="col-6 within-card">
                <h5>Remove Map Marker</h5>
                <button nbButton >REMOVE MARKER</button>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Row Two -->
<div class="row">
  <div class="col-6">
    <nb-card status="primary">
      <nb-card-header>User Managment and Settings</nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-sm-4 within-card">
                <h5>Delete User Account</h5>
                <button nbButton >DELETE ACCOUNT</button>
            </div>
            <div class="col-sm-4 within-card">
                <h5>Reset Account Password</h5>
                <button nbButton >RESET PASSWORD</button>
            </div>
            <div class="col-sm-4 within-card">
                <h5>Reset Account Email</h5>
                <button nbButton >RESET EMAIL</button>
            </div>
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card status="primary">
      <nb-card-header>Database Settings</nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-6 within-card">
                <h5>View Indexed Data</h5>
                <button nbButton >VIEW INDEXED DATA</button>
            </div>
            <div class="col-6 within-card">
                <h5>Remove Data</h5>
                <button nbButton >REMOVE DATA</button>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
