<!-- Row One -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card status="primary">
        <nb-card-header>
          <h1>Admin Dashboard</h1>
        </nb-card-header>
        <nb-card-body>
          <div class="row">

            <!-- Case Settings Button -->
            <div class="col-6 within-card">
              <h5>COVID Case Management</h5>
              <button id="caseManagment" nbButton (click)="settingsOpened($event)">Settings</button>
            </div>

            <!-- Map Settings Button -->
            <div class="col-6 within-card">
              <h5>Business Admin Settings</h5>
              <button id="mapManagement" nbButton (click)="settingsOpened($event)">Settings</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <!-- Row Two -->
      <div class="row">
        <div class="col-md-12">

          <!-- Case Managment Card -->
          <app-case-settings *ngIf="settingsType === 'caseManagment'"></app-case-settings>

          <!-- Map Management Card -->
          <app-business-settings *ngIf="settingsType === 'mapManagement'"></app-business-settings>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <nb-card [style]="{width:'48%', float:'right'}">
    <nb-card-header>
      <h5>Data Activity (last 3 months)</h5>
    </nb-card-header>
    <nb-card-body>
      <app-bar-business-cases></app-bar-business-cases>
    </nb-card-body>
  </nb-card>
  <nb-card [style]="{width:'48%', float:'left'}">
    <nb-card-header>
      <h5>Business by Type</h5>
    </nb-card-header>
    <nb-card-body>
      <app-chart-business></app-chart-business>
    </nb-card-body>
  </nb-card>
</div>