@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  color-primary-100: #F8F0FD,
  color-primary-200: #F1E2FC,
  color-primary-300: #E5D1F6,
  color-primary-400: #D7C1EE,
  color-primary-500: #C3AAE3,
  color-primary-600: #987CC3,
  color-primary-700: #7055A3,
  color-primary-800: #4D3683,
  color-primary-900: #34206C,
  color-primary-transparent-100: rgba(195, 170, 227, 0.08),
  color-primary-transparent-200: rgba(195, 170, 227, 0.16),
  color-primary-transparent-300: rgba(195, 170, 227, 0.24),
  color-primary-transparent-400: rgba(195, 170, 227, 0.32),
  color-primary-transparent-500: rgba(195, 170, 227, 0.4),
  color-primary-transparent-600: rgba(195, 170, 227, 0.48),
  color-success-100: #F2FDD4,
  color-success-200: #E1FCAB,
  color-success-300: #CAF780,
  color-success-400: #B2EF5F,
  color-success-500: #8FE52D,
  color-success-600: #70C420,
  color-success-700: #55A416,
  color-success-800: #3C840E,
  color-success-900: #2B6D08,
  color-success-transparent-100: rgba(143, 229, 45, 0.08),
  color-success-transparent-200: rgba(143, 229, 45, 0.16),
  color-success-transparent-300: rgba(143, 229, 45, 0.24),
  color-success-transparent-400: rgba(143, 229, 45, 0.32),
  color-success-transparent-500: rgba(143, 229, 45, 0.4),
  color-success-transparent-600: rgba(143, 229, 45, 0.48),
  color-info-100: #D5E3FF,
  color-info-200: #ABC6FF,
  color-info-300: #81A7FF,
  color-info-400: #618DFF,
  color-info-500: #2D62FF,
  color-info-600: #204BDB,
  color-info-700: #1636B7,
  color-info-800: #0E2593,
  color-info-900: #08197A,
  color-info-transparent-100: rgba(45, 98, 255, 0.08),
  color-info-transparent-200: rgba(45, 98, 255, 0.16),
  color-info-transparent-300: rgba(45, 98, 255, 0.24),
  color-info-transparent-400: rgba(45, 98, 255, 0.32),
  color-info-transparent-500: rgba(45, 98, 255, 0.4),
  color-info-transparent-600: rgba(45, 98, 255, 0.48),
  color-warning-100: #FEFDCF,
  color-warning-200: #FEFBA0,
  color-warning-300: #FEF871,
  color-warning-400: #FDF54E,
  color-warning-500: #FCF014,
  color-warning-600: #D8CD0E,
  color-warning-700: #B5AA0A,
  color-warning-800: #928806,
  color-warning-900: #787003,
  color-warning-transparent-100: rgba(252, 240, 20, 0.08),
  color-warning-transparent-200: rgba(252, 240, 20, 0.16),
  color-warning-transparent-300: rgba(252, 240, 20, 0.24),
  color-warning-transparent-400: rgba(252, 240, 20, 0.32),
  color-warning-transparent-500: rgba(252, 240, 20, 0.4),
  color-warning-transparent-600: rgba(252, 240, 20, 0.48),
  color-danger-100: #FFF1DD,
  color-danger-200: #FFE0BC,
  color-danger-300: #FFCA9B,
  color-danger-400: #FFB582,
  color-danger-500: #FF9359,
  color-danger-600: #DB6D41,
  color-danger-700: #B74B2C,
  color-danger-800: #932F1C,
  color-danger-900: #7A1B11,
  color-danger-transparent-100: rgba(255, 147, 89, 0.08),
  color-danger-transparent-200: rgba(255, 147, 89, 0.16),
  color-danger-transparent-300: rgba(255, 147, 89, 0.24),
  color-danger-transparent-400: rgba(255, 147, 89, 0.32),
  color-danger-transparent-500: rgba(255, 147, 89, 0.4),
  color-danger-transparent-600: rgba(255, 147, 89, 0.48)


), default, default);